<div class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a routerLink="/"><b>Siêu thị online</b></a>
    </div>
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Đăng ký tài khoản</p>
        <form role="form" [formGroup]="registerForm" (ngSubmit)="register()" id="register">
          <div class="input-group mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="fullName" placeholder="Họ và tên" formControlName="fullName">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a (click)="facebookRegister()" class="btn btn-block btn-primary" style="color: white">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
          </a>
        </div>

        <a [routerLink]="['/login']" class="text-center">Tôi đã có tài khoản</a>
      </div>
    </div>
  </div>
</div>
