<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Thông tin sản phẩm</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
          <li class="breadcrumb-item active">Thông tin sản phẩm</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="card" *ngIf="currentProduct!=null">
    <div class="card-header">
      <h3 class="card-title">{{currentProduct.name}} ({{currentProduct.mass}}g)</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
          <div class="row">
            <div class="col-12">
              <h4><b>Giới thiệu {{currentProduct.name}} ({{currentProduct.mass}}g)</b></h4>
              <div class="post">
                <div [innerHTML]="currentProduct.description"></div>
                <p><b>Hướng dẫn sử dụng</b></p>
                <p>{{currentProduct.instructional}}</p>
                <p><b>Hướng dẫn bảo quản</b></p>
                <p>{{currentProduct.preservation}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
          <h3 class="text-primary"><i class="fas fa-image"></i> Hình ảnh sản phẩm</h3>
          <div class="col-12">
            <img [src]="imgUrl" class="product-image" alt="Product Image">
          </div>
          <div class="col-12 product-image-thumbs">
            <div class="product-image-thumb" *ngFor="let image of listImage; index as i">
              <img [src]="image.url" alt="Product Image" (click)="changeImage(i)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
