<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Thông tin danh mục</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Thông tin danh mục</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" *ngIf="currentCategory != null">

  <!-- Default box -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Danh mục {{currentCategory.name}}</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fas fa-times"></i></button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered" id="table-product">
        <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Tên sản phẩm</th>
          <th>Giá bán</th>
          <th>Khối lượng</th>
<!--          <th style="width: 160px" *ngIf="hasRoleAdmin"></th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of listProduct; index as i">
          <td>{{i + 1}}</td>
          <td>
            <a [routerLink]="['info',product.id]">{{product.name}}</a>
          </td>
          <td>{{product.price}} đồng</td>
          <td>{{product.mass}} gram</td>
<!--          <td *ngIf="hasRoleAdmin">-->
<!--            <div class="row">-->
<!--              <div class="col-6">-->
<!--                <a [routerLink]="['edit',product.id]" class="btn btn-block btn-primary" style="color: white">-->
<!--                  <i class="fas fa-edit"></i>-->
<!--                </a>-->
<!--              </div>-->
<!--              <div class="col-6">-->
<!--                <button type="button" class="btn btn-block btn-danger" style="color: white" data-toggle="modal"-->
<!--                        data-target="#modal-delete" (click)="getProductId(product.id)">-->
<!--                  <i class="fas fa-trash"></i>-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>
