<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a href="#"><img src="../../../assets/static/img/logo.png" alt=""></a>
  </div>
  <div class="humberger__menu__cart">
    <ul>
      <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
    </ul>
  </div>
  <div class="humberger__menu__widget">
    <div class="header__top__right__language">
      <img src="../../../assets/static/img/language.png" alt="">
      <div>English</div>
      <ul>
        <li><a href="#">Vietnamese</a></li>
        <li><a href="#">English</a></li>
      </ul>
    </div>
    <div class="header__top__right__auth">
      <a href="#"><i class="fa fa-user" ></i> Login</a>
    </div>
  </div>
  <nav class="humberger__menu__nav mobile-menu">
    <ul>
      <li class="active"><a routerLink="/">Trang chủ</a></li>
      <li><a href="./shop-grid.html">Cừa hàng</a></li>
      <li><a href="#">Pages</a>
        <ul class="header__menu__dropdown">
          <li><a href="./shop-details.html">Shop Details</a></li>
          <li><a href="./shoping-cart.html">Shoping Cart</a></li>
          <li><a href="./checkout.html">Check Out</a></li>
          <li><a href="./blog-details.html">Blog Details</a></li>
        </ul>
      </li>
      <li><a href="./contact.html">Liên hệ</a></li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="header__top__right__social">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-pinterest-p"></i></a>
  </div>
  <div class="humberger__menu__contact">
    <ul>
      <li><i class="fa fa-envelope"></i>help@gmail.com</li>
      <li>Miễn phí vận chuyển trong vòng 5km</li>
    </ul>
  </div>
</div>
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i>help@gmail.com</li>
              <li>Miễn phí vận chuyển trong vòng 5km</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </div>
            <div class="header__top__right__language">
              <img src="../../../assets/static/img/language.png" alt="">
              <div>English</div>
              <ul>
                <li><a href="#">Vietnamese</a></li>
                <li><a href="#">English</a></li>
              </ul>
            </div>
            <div class="header__top__right__auth" *ngIf="!currentUser">
              <a routerLink="../login"><i class="fa fa-user" ></i> Đăng nhập</a>
            </div>
            <div class="header__top__right__auth" *ngIf="currentUser">
              <a routerLink="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a routerLink="/"><img src="../../../assets/static/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li class="active"><a routerLink="/">Trang chủ</a></li>
            <li><a routerLink="/shop">Cửa hàng</a></li>
            <li><a href="#">Pages</a>
              <ul class="header__menu__dropdown">
                <li><a href="#">Shop Details</a></li>
                <li><a href="#">Giỏ hàng</a></li>
                <li><a href="#">Check Out</a></li>
                <li><a href="#">Blog Details</a></li>
              </ul>
            </li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Danh mục sản phẩm</span>
          </div>
          <ul *ngFor="let category of listCategory">
            <li><a href="#">{{category.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form [formGroup]="searchForm">
              <div class="hero__search__categories">
               Tất cả
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Bạn cần tìm gì?">
              <button type="submit" class="site-btn">TÌM KIẾM</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>038115225</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
        <div class="hero__item set-bg" [style.background]="'url(../../../assets/static/img/hero/banner.jpg)'">
          <div class="hero__text">
            <span>THỰC PHẨM SẠCH</span>
            <h2>Rau củ <br/>100% tự nhiên</h2>
            <p>Miễn phí vẫn chuyển trong 5km</p>
            <a href="#" class="primary-btn">MUA NGAY</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="categories">
  <div class="container">
    <div class="row">
      <div class="categories__slider owl-carousel">
        <div class="col-lg-3">
          <div class="categories__item set-bg" [style.background]="'url(../../../assets/static/img/categories/cat-1.jpg)'">
            <h5><a href="#">Hoa quả sạch</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="categories__item set-bg" [style.background]="'url(../../../assets/static/img/categories/cat-2.jpg)'">
            <h5><a href="#">Thực phẩm dinh dưỡng</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="categories__item set-bg" [style.background]="'url(../../../assets/static/img/categories/cat-3.jpg)'">
            <h5><a href="#">Rau củ</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="categories__item set-bg" [style.background]="'url(../../../assets/static/img/categories/cat-4.jpg)'">
            <h5><a href="#">Nước hoa quả</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="categories__item set-bg" [style.background]="'url(../../../assets/static/img/categories/cat-5.jpg)'">
            <h5><a href="#">Nước hoa quả</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="featured spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Sản phẩm nổi bật</h2>
        </div>
        <div class="featured__controls">
          <ul>
            <li class="active" data-filter="*">Tất cả</li>
            <li data-filter=".fresh-meat">Thịt</li>
            <li data-filter=".fresh-meat">Đồ uống</li>
            <li data-filter=".vegetables">Rau củ</li>
            <li data-filter=".fastfood">Sản phẩm khác</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row featured__filter" >
      <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" *ngFor="let product of listProduct">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" *ngIf="product.image!=null"
               [style.background]="'url('+product.image[0].url+')'">
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">{{product.name}}</a></h6>
            <h5>{{product.price}} đồng</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="latest-product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Sản phẩm mới nhất</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-2.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
            </div>
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-2.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Sản phẩm mua nhiều</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-2.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
            </div>
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-2.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Đánh giá sản phẩm</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-2.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
            </div>
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-1.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-2.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="../../../assets/static/img/latest-product/lp-3.jpg" alt="">
                </div>
                <div class="latest-product__item__text">
                  <h6>Crab Pool Security</h6>
                  <span>$30.00</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__about__logo">
            <a routerLink="/"><img src="../../../assets/static/img/logo.png" alt=""></a>
          </div>
          <ul>
            <li>Địa chỉ: Xã Đàn, Đống Đa, Hà Nội</li>
            <li>Điện thoại: 84382546945</li>
            <li>Email: help@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
        <div class="footer__widget">
          <h6>Useful Links</h6>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">About Our Shop</a></li>
            <li><a href="#">Secure Shopping</a></li>
            <li><a href="#">Delivery infomation</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Our Sitemap</a></li>
          </ul>
          <ul>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Innovation</a></li>
            <li><a href="#">Testimonials</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="footer__widget">
          <h6>Join Our Newsletter Now</h6>
          <p>Get E-mail updates about our latest shop and special offers.</p>
          <div class="footer__widget__social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer__copyright">
          <div class="footer__copyright__payment"><img src="../../../assets/static/img/payment-item.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
</footer>
