<app-header></app-header>
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Danh mục sản phẩm</span>
          </div>
          <ul>
            <li *ngFor="let category of listCategory"><a
              [routerLink]="['../category',category.id]">{{category.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form [formGroup]="searchForm" (ngSubmit)="search()">
              <div class="hero__search__categories">
                Tất cả
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Bạn cần tìm gì?" formControlName="name">
              <button type="submit" class="site-btn">TÌM KIẾM</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>038115225</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="breadcrumb-section set-bg" [style.background]="'url(../../../assets/static/img/breadcrumb.jpg)'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>{{status ? "Sản phẩm đã mua" : "Đơn hàng chờ xác nhận"}}</h2>
          <div class="breadcrumb__option">
            <a routerLink="/">Trang chủ</a>
            <span>{{status ? "Đã mua" : "Chờ xác nhận"}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="status" class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
            <tr>
              <th>#</th>
              <th></th>
              <th class="shoping__product">Sản phẩm</th>
              <th>Giá</th>
              <th style="width: 160px"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of listProduct; index as i">
              <td>{{i + 1}}</td>
              <td>
                <img *ngIf="product.image != null" [src]="product.image[0].url" alt="">
              </td>
              <td class="shoping__cart__item">
                <h5 style="font-size: 16px">{{product.name}}</h5>
              </td>
              <td class="shoping__cart__price">
                {{product.price * (1 - product.saleOff / 100)}}đ
              </td>
              <td>
                <div class="row">
                  <div class="col-6">
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-block btn-primary" style="color: white" data-toggle="modal"
                            data-target="#modal-review">
                      <i class="fas fa-edit"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="!status" class="shoping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shoping__cart__table">
          <table>
            <thead>
            <tr>
              <th>#</th>
              <th>Mã đơn hàng</th>
              <th>Ngày đặt</th>
              <th>Trạng thái</th>
              <th style="width: 160px"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orders of listOrders; index as i">
              <td>{{i + 1}}</td>
              <td>
                {{orders.id}}
              </td>
              <td>
                {{orders.createDate}}
              </td>
              <td>
                {{orders.status ? "Đã xác nhận" : "Chưa xác nhận"}}
              </td>
              <td>
                <div class="row">
                  <div class="col-6">
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-block btn-danger" style="color: white" data-toggle="modal"
                            data-target="#modal-delete" (click)="getOrderId(orders.id)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="modal-review">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Đánh giá sản phẩm</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="rating text-center">
          <span><i class="fas fa-star mr-2 {{star>=1?'rated':'unrated'}}" id="one" (click)="rate(1)"></i></span>
          <span><i class="fas fa-star mr-2 {{star>=2?'rated':'unrated'}}" id="tưo" (click)="rate(2)"></i></span>
          <span><i class="fas fa-star mr-2 {{star>=3?'rated':'unrated'}}" id="three" (click)="rate(3)"></i></span>
          <span><i class="fas fa-star mr-2 {{star>=4?'rated':'unrated'}}" id="four" (click)="rate(4)"></i></span>
          <span><i class="fas fa-star mr-2 {{star==5?'rated':'unrated'}}" id="five" (click)="rate(5)"></i></span>
          <span>({{star}} sao)</span>
        </div>
        <br>
        <label for="review">Bình luận</label>
        <textarea class="textarea" name="review" id="review"
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="deleteOrder(id)">Xác nhận</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-delete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Hủy đơn hàng</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn hủy đơn hàng này không ?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger" (click)="deleteOrder(id)">Xóa</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<app-footer></app-footer>
